*-debug.log
*-error.log
*.log
.DS_Store
.nyc_output
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
coverage
coverage.*
data/
logs
node_modules
npm-debug.log*
yarn.lock

*.tsbuildinfo


# yarn2
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
